/*.products{
    display: inline-flex;

}*/
.product-item{
    flex-direction: row;
    flex-wrap: wrap;
    align-items:  center;
}

.available{
background-color: aqua;
}

.product-img{
    object-fit: cover;
    width: 100%;
}

.productItem :nth-child(2) span{
  color: gray;
  font-size: 2rem;
  text-align: center;
}
