<div class="filtersSection">
    <h3>Filters</h3>
    <div>
        <div>
            <input type="radio" id="all" name="filters" value="All" [(ngModel)]="filter" (change)="onFilterChanged(allp.value)" #allp>
            <label for="all">All ({{all}})</label><br>
        </div>
        
        <div>
            <input type="radio" id="avaliable" name="filters" value="Avaliable" [(ngModel)]="filter" (change)="onFilterChanged(avaliable.value)" #avaliable>
            <label for="avaliable">Avaliable Only ({{avaliableCount}})</label><br>
        </div>
        
        <div>
            <input type="radio" id="featured" name="filters" value="Featured" [(ngModel)]="filter" (change)="onFilterChanged(featured.value)" #featured>
            <label for="featured">Featured ({{featuredCount}})</label>
        </div>
    </div>
</div>